<h3>{{text}}</h3>
<app-header></app-header>
<input type="text" [(ngModel)]="username">

<p>Hello <span>{{username.toUpperCase()}}!</span></p>

<div style="width: 100%; border: 1px solid #000;" [ngClass]="'container'">
    <div style="width: 30%; border: 1px solid #ff0000;" [ngClass]="'navigation-list'">

        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">about</a></li>
            <li><a [routerLink]="['/contact']">contact</a></li>
            <input type="text" [(ngModel)]="username">

            <p>Hello {{username}}!</p>


        </ul>
    </div>
    <div style="width: 70%; border: 1px solid #00ff00">
        <router-outlet></router-outlet>
    </div>
</div>